body{

background-repeat: no-repeat;
background-size:cover;
}
.circle{
    background-color: #263159;
    border: 15px solid #495579;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 12.5% auto;
}
.hand{
    height: 2px;
    width:190px;
    background-color: #495579;
    border: 1px solid #FFFBEB;
    position: absolute;
    top: 48.5%;
    left: 41%;
    transform-origin:100% ;
    transform: rotate(90deg);
}